<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/autoinc</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.connection.pool_size">10</property>
		<property name="show_sql">true</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.current_session_context_class">thread</property>

		<mapping class="com.autoinc.dao.ProductDAO" />
		<mapping class="com.autoinc.dao.AddressDAO" />
		<mapping class="com.autoinc.dao.Country" />
		<mapping class="com.autoinc.dao.CustomerDAO" />
		<mapping class="com.autoinc.dao.DeliveryOffersDAO" />
			<mapping class="com.autoinc.dao.TransportationStatusDAO" />
			<mapping class="com.autoinc.dao.PurchaseDAO" />
		<mapping class="com.autoinc.dao.InventoryDAO" />
		<!-- <mapping class="com.autoinc.dao.Product" /> -->
		<mapping class="com.autoinc.dao.ProductDetailsDAO" />
		<mapping class="com.autoinc.dao.SupplyLogisticsDAO" />
		<mapping class="com.autoinc.dao.UserDAO" />
		<mapping class="com.autoinc.dao.WarehouseDAO" />


	</session-factory>
</hibernate-configuration>